<footer class="pg-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3">
        <ul class="pg-footer__list">
          <h3 class="pg-footer__list--title">Web Hosting</h3>
          <li><a href="#" class="pg-footer__list--item">Shared Hosting</a></li>
          <li><a href="#" class="pg-footer__list--item">Cloud Hosting</a></li>
          <li><a href="#" class="pg-footer__list--item">Cloud VPS Hosting</a></li>
          <li><a href="#" class="pg-footer__list--item">Email Hosting</a></li>
          <li><a href="#" class="pg-footer__list--item">WordPress Hosting</a></li>
          <li><a href="#" class="pg-footer__list--item">Website Instan</a></li>
          <li><a href="#" class="pg-footer__list--item">Web Hosting Unlimited</a></li>
          <li><a href="#" class="pg-footer__list--item">Hosting Terbaik</a></li>
          <li><a href="#" class="pg-footer__list--item">Hosting Murah</a></li>
          <li><a href="#" class="pg-footer__list--item">Hosting Indonesia</a></li>
          <li><a href="#" class="pg-footer__list--item">Hosting Singapore SG</a></li>
          <li><a href="#" class="pg-footer__list--item">Keamanan SSL/HTTPS</a></li>
          <li><a href="#" class="pg-footer__list--item">Data Center Hosting Terbaik</a></li>
          <li><a href="#" class="pg-footer__list--item">Hosting Gratis</a></li>
          <li><a href="#" class="pg-footer__list--item">Transfer Hosting</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <ul class="pg-footer__list">
          <h3 class="pg-footer__list--title">Domain</h3>
          <li><a href="#" class="pg-footer__list--item">Domain</a></li>
          <li><a href="#" class="pg-footer__list--item">Domain .ID</a></li>
          <li><a href="#" class="pg-footer__list--item">Domain Gratis</a></li>
          <li><a href="#" class="pg-footer__list--item">Promo Domain .COM</a></li>
          <li><a href="#" class="pg-footer__list--item">WHOIS</a></li>
          <li><a href="#" class="pg-footer__list--item">Transfer Domain</a></li>
        </ul>
        <ul class="pg-footer__list">
          <h3 class="pg-footer__list--title">Bantuan</h3>
          <li><a href="{{ 'blog' | link }}" class="pg-footer__list--item">Blog</a></li>
          <li><a href="{{ 'ebook' | link }}" class="pg-footer__list--item">Ebook Gratis</a></li>
          <li><a href="{{ 'kb' | link }}" class="pg-footer__list--item">Knowledge Base</a></li>
          <li><a href="{{ 'pembayaran' | link }}" class="pg-footer__list--item">Cara Pembayaran</a></li>
          <li><a href="{{ 'forum' | link }}" class="pg-footer__list--item">Niagahoster Forum</a></li>
          <li><a href="https://course.niagahoster.co.id/" class="pg-footer__list--item" target="_blank" rel="noopener noreferrer">Niagahoster Course</a></li>
        </ul>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6">
            <ul class="pg-footer__list">
              <h3 class="pg-footer__list--title">Perusahaan</h3>
              <li><a href="{{ 'about-us' | link }}" class="pg-footer__list--item">Tentang Niagahoster</a></li>
              <li><a href="{{ 'kontak' | link }}" class="pg-footer__list--item">Kontak</a></li>
              <li><a href="{{ 'karir' | link }}" class="pg-footer__list--item">Karir</a></li>
              <li><a href="{{ 'event' | link }}" class="pg-footer__list--item">Event</a></li>
              <li><a href="https://status.niagahoster.co.id/" class="pg-footer__list--item" target="_blank" rel="noopener noreferrer">Status Layanan</a></li>
              <li><a href="{{ 'review' | link }}" class="pg-footer__list--item">Review Pelanggan</a></li>
              <li><a href="{{ 'promosi' | link }}" class="pg-footer__list--item">Penawaran & Promo Spesial</a></li>
              <li><a href="{{ 'virtual-summit' | link }}" class="pg-footer__list--item">Niagahoster Virtual Summit</a></li>
            </ul>
            <ul class="pg-footer__list">
              <h3 class="pg-footer__list--title">Kemitraan</h3>
              <li><a href="{{ 'poin' | link }}" class="pg-footer__list--item">Niagahoster Poin</a></li>
              <li><a href="{{ 'reseller-hosting' | link }}" class="pg-footer__list--item">Niagahoster Partner</a></li>
              <li><a href="{{ 'afiliasi' | link }}" class="pg-footer__list--item">Program Afiliasi Niagahoster</a></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="pg-footer__list">
              <img src="{{ 'images/2021/logo/nh-logo-white.svg' | asset_url }}" height="40" width="255" loading="lazy" class="pg-footer__list--logo img-fluid" alt="Niagahoster Logo">
              <li class="pg-footer__list--about">
                Misi Kami adalah membantu jutaan orang memanfaatkan potensi yang ada di internet untuk membangun kesuksesan online.
              </li>
            </ul>
            <ul class="pg-footer__list">
              <li class="pg-footer__list--about">
                Jl. Palagan Tentara Pelajar No. 81 Jongkang, Sariharjo, Ngaglik, Sleman, Daerah Istimewa Yogyakarta, 55581
              </li>
            </ul>
            <ul class="pg-footer__list-icon">
              <li class="pg-footer__social-icon"><a href="https://www.facebook.com/niagahoster" class="pg-footer__icon" target="_blank" rel="noopener noreferrer"><span class="fab fa-facebook-f"></span></a>
              </li>
              <li class="pg-footer__social-icon"><a href="https://www.instagram.com/niagahoster.id" class="pg-footer__icon" target="_blank" rel="noopener noreferrer"><span class="fab fa-instagram"></span></a>
              </li>
              <li class="pg-footer__social-icon"><a href="https://www.linkedin.com/company/niagahoster" class="pg-footer__icon" target="_blank" rel="noopener noreferrer"><span class="fab fa-linkedin"></span></a>
              </li>
              <li class="pg-footer__social-icon"><a href="https://twitter.com/niagahoster" class="pg-footer__icon" target="_blank" rel="noopener noreferrer"><span class="fab fa-twitter"></span></a>
              </li>
            </ul>
          </div>
          <div class="col-lg-12">
            <h3 class="pg-subscribe__title">Newsletter</h3>
            <form id="newsletter" class="form-inline pg-subscribe__form">
              <label for="newsletter-email" class="sr-only">Berlangganan Email </label>
              <input id="newsletter-email" type="email" class="form-control" name="email" placeholder="Ketik alamat email disini">
              <button id="newsletter-btn" type="submit" class="nh-btn nh-btn--orange text-capitalize mb-2">Berlangganan</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="pg-footer__hr">
  <div class="container">
    <div class="row clearfix">
      <div class="column col-lg-7 col-md-12">
        <div class="pg-footer__copyright">
          Copyright ©2021 Niagahoster | Hosting powered by PHP8, CloudLinux, CloudFlare, BitNinja and DC DCI-Indonesia | Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology
        </div>
      </div>
      <div class="column col-lg-5 col-md-12">
        <ul class="pg-footer__privacy">
          <li class="pg-footer__privacy--list"><a href="#" class="pg-footer__privacy--link pr-3">Syarat dan Ketentuan</a></li>
          <li class="pg-footer__privacy--list"><a href="{#" class="pg-footer__privacy--link">Kebijakan Privasi</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>