$ar-orange : #ff9800;
$ar-blue: #007dff;
$ar-red: #f44336;
$ar-green: #00bfa6;
$ar-yellow: #ffc721;
$ar-black: #121212;
$ar-gray: #cacaca;
$ar-white: #fff;
$ar-link: #007aff;
$ar-navy: #29384e;
$ar-transparent: transparent;