<div class="col-lg-12">
  <div class="pg__section">
    <h2 class="class="pg__section--title">Color</h2>
    <p class="class="pg__section--description">Arunika UI Color Pack</p>
    <hr class="my-4">
    <div class="pg__section--body">
      <div class="d-flex justify-content-around py-5 text-bold">
        <p>Primary</p>
        <p>Secondary</p>
        <p>Other</p>
      </div>
      <div class="ar-grid">
        <div class="box">
          <p class="ar-color ar-color__name">Hoster Blue</p>
          <p class="ar-color ar-color__hex">#007dff</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--hoster-blue"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Orange</p>
          <p class="ar-color ar-color__hex">#ff9800</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--orange"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Gray</p>
          <p class="ar-color ar-color__hex">#c4c4c4</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--gray"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Dark Blue</p>
          <p class="ar-color ar-color__hex">#0057b2</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--dark-blue"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Dark Orange</p>
          <p class="ar-color ar-color__hex">#c77700</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--dark-orange"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Dark Gray</p>
          <p class="ar-color ar-color__hex">#808080</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--dark-gray"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Light Blue</p>
          <p class="ar-color ar-color__hex">#e0efff</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--light-blue"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Light Orange</p>
          <p class="ar-color ar-color__hex">#ffe082</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--light-orange"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Light Gray</p>
          <p class="ar-color ar-color__hex">#e0e0e0</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--light-gray"></span>
        </div>
      </div>
      <!-- Status Colors -->
      <div class="d-flex justify-content-around py-5 text-bold">
        <p>Error State</p>
        <p>Success State</p>
        <p>Warning State</p>
      </div>
      <div class="ar-grid">
        <div class="box">
          <p class="ar-color ar-color__name">Red</p>
          <p class="ar-color ar-color__hex">#f44336</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--red"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Green</p>
          <p class="ar-color ar-color__hex">#00bfa6</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--green"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Yellow</p>
          <p class="ar-color ar-color__hex">#ffc721</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--yellow"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Dark Red</p>
          <p class="ar-color ar-color__hex">#a83232</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--dark-red"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Dark Green</p>
          <p class="ar-color ar-color__hex">#00897b</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--dark-green"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Dark Yellow</p>
          <p class="ar-color ar-color__hex">#ffb547</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--dark-yellow"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Light Red</p>
          <p class="ar-color ar-color__hex">#fbb2b2</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--light-red"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Light Green</p>
          <p class="ar-color ar-color__hex">#adebe3</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--light-green"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Light Yellow</p>
          <p class="ar-color ar-color__hex">#ffedb8</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--light-yellow"></span>
        </div>
      </div>
      <!-- Background Colors -->
      <div class="d-flex justify-content-around py-5 text-bold">
        <p>Text Color</p>
        <p>Background</p>
        <p>Miscellaneous</p>
      </div>
      <div class="ar-grid">
        <div class="box">
          <p class="ar-color ar-color__name">Primary</p>
          <p class="ar-color ar-color__hex">#29384E</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--primary"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">White</p>
          <p class="ar-color ar-color__hex">#ffffff</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--white"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Bright Blue</p>
          <p class="ar-color ar-color__hex">#2199fa</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--bright-blue"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Secondary</p>
          <p class="ar-color ar-color__hex">#546071</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--secondary"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Black Solid</p>
          <p class="ar-color ar-color__hex">#121212</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--black-solid"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Soft Pink</p>
          <p class="ar-color ar-color__hex">#fd8ca9</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--soft-pink"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Secondary 2</p>
          <p class="ar-color ar-color__hex">#a9afb8</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--secondary-two"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Very Soft Blue</p>
          <p class="ar-color ar-color__hex">#f5faff</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--very-soft-blue"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Soft Blue</p>
          <p class="ar-color ar-color__hex">#94ccf7</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--soft-blue"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Disable</p>
          <p class="ar-color ar-color__hex">#a9afb8</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--disable"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Very Dark Blue</p>
          <p class="ar-color ar-color__hex">#22273c</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--very-dark-blue"></span>
        </div>
        <div class="box">
          <p class="ar-color ar-color__name">Soft Grey</p>
          <p class="ar-color ar-color__hex">#f3faf6</p>
        </div>
        <div class="box">
          <span class="ar-color__preview ar-color__preview--soft-grey"></span>
        </div>
      </div>
    </div>
  </div>
</div>