<section class="ar-hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="ar-hero__title">Managed <br> WordPress</h1>
        <p class="ar-hero__description">Layanan Managed Wordpress Indonesia dengan performa terbaik, akses cepat dan
          dukungan support premium. Mudah kelola website WordPress dengan WordPress Management</p>
        <a href="javascript:void(0)" class="pg-btn btn--primary btn--pill ar-hero__btn">Pilih Sekarang</a>
      </div>
      <div class="ar-hero__image-wrapper col-lg-5">
        <img src="https://niagaspace.sgp1.cdn.digitaloceanspaces.com/assets/images/hero/mobile/hosting-indonesia.webp"
          height="312" width="460" class="a-hrero__image img-fluid lozad" loading="lazy" alt="Web Hosting Indonesia">
      </div>
    </div>
  </div>
  </div>
</section>