<div class="col-lg-12">
  <div class="pg__section">
    <h2 class="class="pg__section--title">Typography</h2>
    <p class="class="pg__section--description">Arunika UI Typography</p>
    <hr class="my-4">
    <div class="pg__section--body">
      <div class="table-responsive">
        <table class="table table-responsive-sm align-middle">
          <thead>
            <tr>
              <th scope="col" class="w-25">Scale Category</th>
              <th scope="col" class="w-25">Typeface</th>
              <th scope="col" class="w-25">Weight</th>
              <th scope="col" class="w-25">Size/Line Height</th>
              <th scope="col" class="w-25">Case</th>
              <th scope="col" class="w-25">Letter Spacing</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="h1">H1</td>
              <td>NunitoSansBold</td>
              <td>Bold</td>
              <td>56px / 64px</td>
              <td>Title</td>
              <td>0%</td>
            </tr>
            <tr>
              <td class="h2">H2</td>
              <td>NunitoSansBold</td>
              <td>Bold</td>
              <td>40px / 56px</td>
              <td>Sentence</td>
              <td>0%</td>
            </tr>
            <tr>
              <td class="h3">H3</td>
              <td>NunitoSansBold</td>
              <td>Bold</td>
              <td>32px / 42px</td>
              <td>Sentence</td>
              <td>0%</td>
            </tr>
            <tr>
              <td class="h4">H4</td>
              <td>NunitoSansBold</td>
              <td>Bold</td>
              <td>28px / 36px</td>
              <td>Sentence</td>
              <td>0%</td>
            </tr>
            <tr>
              <td class="h5">H5</td>
              <td>NunitoSansBold</td>
              <td>Bold</td>
              <td>24px / 32px</td>
              <td>Sentence</td>
              <td>0%</td>
            </tr>
            <tr>
              <td class="h6">H6</td>
              <td>NunitoSansBold</td>
              <td>Bold</td>
              <td>20px / 26px</td>
              <td>Sentence</td>
              <td>0%</td>
            </tr>
            <tr>
              <td class="h7">H7</td>
              <td>NunitoSansBold</td>
              <td>Bold</td>
              <td>18px / 27px</td>
              <td>Sentence</td>
              <td>0%</td>
            </tr>
            <tr>
              <td class="h8">H8</td>
              <td>NunitoSansBold</td>
              <td>Bold</td>
              <td>16px / 26px</td>
              <td>Sentence</td>
              <td>0%</td>
            </tr>
            <tr>
              <td class="sub-1">Sub 1</td>
              <td>NunitoSansBold</td>
              <td>Semi Bold</td>
              <td>24px / 24px</td>
              <td>Sentence</td>
              <td>0.5%</td>
            </tr>
            <tr>
              <td class="sub-2">Sub 2</td>
              <td>NunitoSansBold</td>
              <td>Semi Bold</td>
              <td>16px / 16px</td>
              <td>Sentence</td>
              <td>0.5%</td>
            </tr>
            <tr>
              <td class="sub-3">Sub 3</td>
              <td>NunitoSansBold</td>
              <td>Semi Bold</td>
              <td>18px / 16px</td>
              <td>Sentence</td>
              <td>0.5%</td>
            </tr>
            <tr>
              <td class="sub-4">Sub 4</td>
              <td>NunitoSansBold</td>
              <td>Semi Bold</td>
              <td>16px / 16px</td>
              <td>Sentence</td>
              <td>0.5%</td>
            </tr>
            <tr>
              <td class="sub-5">Sub 5</td>
              <td>NunitoSansBold</td>
              <td>Semi Bold</td>
              <td>14px / 16px</td>
              <td>Sentence</td>
              <td>0.5%</td>
            </tr>
            <tr>
              <td class="sub-6">Sub 6</td>
              <td>NunitoSansBold</td>
              <td>Semi Bold</td>
              <td>12px / 16px</td>
              <td>Sentence</td>
              <td>0.5%</td>
            </tr>
            <tr>
              <td class="body-1">Body 1</td>
              <td>NunitoSansBold</td>
              <td>Regular</td>
              <td>16px / 24px</td>
              <td>Sentence</td>
              <td>0.5%</td>
            </tr>
            <tr>
              <td class="body-2">Body 2</td>
              <td>NunitoSansBold</td>
              <td>Regular</td>
              <td>14px / 24px</td>
              <td>Sentence</td>
              <td>0.5%</td>
            </tr>
            <tr>
              <td class="body-3">Body 3</td>
              <td>NunitoSansBold</td>
              <td>Regular</td>
              <td>12px / 24px</td>
              <td>Sentence</td>
              <td>0.5%</td>
            </tr>
            <tr>
              <td class="button-1">Button 1</td>
              <td>NunitoSansBold</td>
              <td>Bold</td>
              <td>20px / 32px</td>
              <td>Sentence</td>
              <td>2%</td>
            </tr>
            <tr>
              <td class="button-2">Button 2</td>
              <td>NunitoSansBold</td>
              <td>Bold</td>
              <td>18px / 32px</td>
              <td>Sentence</td>
              <td>2%</td>
            </tr>
            <tr>
              <td class="button-3">Button 3</td>
              <td>NunitoSansBold</td>
              <td>Bold</td>
              <td>16px / 24px</td>
              <td>Sentence</td>
              <td>2%</td>
            </tr>
            <tr>
              <td class="button-4">Button 4</td>
              <td>NunitoSansBold</td>
              <td>Bold</td>
              <td>16px / 24px</td>
              <td>Sentence</td>
              <td>2%</td>
            </tr>
            <tr>
              <td class="button-5">Button 5</td>
              <td>NunitoSansBold</td>
              <td>Bold</td>
              <td>14px / 16px</td>
              <td>Sentence</td>
              <td>2%</td>
            </tr>
            <tr>
              <td class="caption-1">Caption 1</td>
              <td>NunitoSansBold</td>
              <td>Regular</td>
              <td>14px / 16px</td>
              <td>Sentence</td>
              <td>2%</td>
            </tr>
            <tr>
              <td class="caption-2">Caption 2</td>
              <td>NunitoSansBold</td>
              <td>Regular</td>
              <td>12px / 16px</td>
              <td>Sentence</td>
              <td>2%</td>
            </tr>
            <tr>
              <td class="overline">Overline</td>
              <td>NunitoSansBold</td>
              <td>Bold</td>
              <td>16px / 24px</td>
              <td>Sentence</td>
              <td>4%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>